#
# Also see variables.tf.
#
# The name of the EKS cluster.
cluster-name = "eks-milpa-test"

# The access keys Milpa will use to create instances on AWS. Leave it empty to
# have Milpa use the IAM role provisioned (recommended).
#aws-access-key-id = ""
#aws-secret-access-key = ""
#
# The name of an already existing SSH key on EC2. This will be added to the
# worker EC2 instance. See
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html on how
# to create or import one to EC2.
ssh-key-name = ""

# This is the free worker AMI that has a limit of 50 Milpa pods:
#milpa-worker-ami = "ami-004afba2ba154f8e1"
# To be able to use the paid AMI, you first need to subscribe to the
# following AWS Marketplace offering:
# https://aws.amazon.com/marketplace/pp/B082VDXGKQ
# then enable the AMI below:
#milpa-worker-ami = "ami-06040d7ede5c8f09a"

# The primary CIDR used for the VPC.
#vpc-cidr = "10.0.0.0/16"

# Extra tags to add to resources.
#extra-tags = {
#  "team": "foobar"
#}
